header{
  width: 100vw;
  height: 100vh;
  background-image: url('../../../public/assets/Home.jpg');
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  color: whitesmoke;
  text-align: center;

}
.header-content h2{
  font-size: 5vmin;
}